body > h3 {
    color: blue;
    font-size: 30px;
}

body > h5 {
    font-size: 20px;
}

ul > li {
    color: lightskyblue;
    font-weight: bold;
    font-size: 20px;
}

#dessert > li{
    color:dodgerblue;
}